/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.css";
@import 'app/components/notification-item/notification-item.component';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
